parameters:
    level: 5
    phpVersion: 80000
    paths:
        - bin/ran-admin-shell
        - resources
        - tools
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    scanDirectories:
        - vendor/squizlabs/php_codesniffer/src
    tmpDir: .phpstan-cache
